<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>現金交易</title>
    <script src="~/JS/DepositJS.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <link rel="stylesheet" href="~/CSS/DepositCSS.css">
</head>
<body onload="stockAddOption()">
    <h2>現金交易</h2>
    <div style="color:red;">@ViewBag.Message</div>
    <form action="~/Home/Deposit" method="post" onsubmit="alert('完成交易')">

        <input name="__RequestVerificationToken" type="hidden" value=""/>

        <div class="form-horizontal">
            <hr />
            <fieldset>
                <input id="IO1" name="IO" required type="radio" value="True" checked/>
                <label for="IO1">入帳&nbsp&nbsp&nbsp&nbsp</label>
                <input id="IO2" name="IO" type="radio" value="False" />
                <label for="IO2">出帳&nbsp&nbsp&nbsp&nbsp</label>
                <span class="field-validation-valid text-danger" data-valmsg-for="IO" data-valmsg-replace="true"></span>
            </fieldset>

            <br />
            <br />


            <fieldset>
                <legend>摘要</legend>
                <input id="Summary1" name="Summary" required type="radio" value="存提款" onclick="summary1()" />
                <label for="Summary1">存提款&nbsp&nbsp&nbsp&nbsp</label><br/>
                <input id="Summary2" name="Summary" type="radio" value="配息" onclick="summary2()" />
                <label for="Summary2">配息&nbsp&nbsp&nbsp&nbsp</label>
                <select id="Stock" name="Stock" hidden="hidden">
                    <option value="" disabled selected>請選擇配息的股票</option>
                </select><br />
                <input id="Summary3" name="Summary" type="radio" value="其他" onclick="summary3()" />
                <label for="Summary3">其他&nbsp&nbsp&nbsp&nbsp</label>
                <input id="Detail" name="Detail" type="text" value="" hidden>

                <span class="field-validation-valid text-danger" data-valmsg-for="Summary" data-valmsg-replace="true"></span>
            </fieldset>


            <br />

            <div class="form-group">
                <label class="control-label col-md-2" for="Price">金額</label>
                <div class="col-md-10">
                    <input class="form-control" id="Price" name="Price" min="0" required="required" type="number" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                </div>
            </div>

            <br>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="確認交易" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

</body>
</html>
