<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>股票交易</title>
</head>
<body>
    <h2>股票交易</h2>
    <div style="color:red;">@ViewBag.Message</div>
    <form action="~/Home/Trade" method="post"  onsubmit="alert('完成交易')">

        <input name="__RequestVerificationToken" type="hidden" value=""/>

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    <div>
                        <input id="1" name="IO" required type="radio" value="True" />
                        <label for="1">買進&nbsp&nbsp&nbsp&nbsp</label>
                        <input id="2" name="IO" type="radio" value="False" />
                        <label for="2">賣出&nbsp&nbsp&nbsp&nbsp</label>
                        <span class="field-validation-valid text-danger" data-valmsg-for="IO" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <label class="control-label col-md-2" for="Symbol">股票代碼</label>
                <div class="col-md-10">
                    <input class="form-control" id="Symbol" name="Symbol" pattern="[a-zA-Z0-9]+" title="只能輸入英文字母和數字" required="required" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Symbol" data-valmsg-replace="true"></span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2" for="Quantity">數量</label>
                <div class="col-md-10">
                    <input class="form-control" id="Quantity" name="Quantity" required="required" type="number" step="1" value="1000" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Quantity" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Price">價格</label>
                <div class="col-md-10">
                    <input class="form-control" id="Price" name="Price" max="10000" min="0" required="required" step="0.01" type="number" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                </div>
            </div>

            <br>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="確認交易" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
